$green-color:#219653;
$black-color: #131313;
$white-color: #F9F1F1;
$braun-color:#6A6161;

%robotoregular-400 {
    font-family: 'Roboto';
    font-weight: 400;
}
%librebodoni-600 {
    font-family: 'Libre Bodoni';
    font-weight: 600;
}
%robotolight-300 {
    font-family: 'Roboto-Light';
    font-weight: 300;
}
%robotomedium-500 {
    font-family: 'Roboto-Medium';
    font-weight: 500;
}
%robotobold-700 {
    font-family: 'Roboto-Bold';
    font-weight: 700;
}
